* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.pages {
  width: 80%;
  margin: 20px auto;
}

/* Header */
#header {
  background-color: rgb(224, 255, 255);
  padding: 0 20px;
}

#header>ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#header>ul>li {
  display: inline-block;
  margin: 5px 0;
  padding: 10px;
}

#header>ul>li a {
  display: block;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
}


/* Home */
.products-heading {
  margin: 40px 0 20px;
  text-align: center;
}

.products-ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.product-card {
  border: 1px solid rgba(50, 50, 50, 0.1);
  border-radius: 5px;
  padding: 30px 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 128, 128);
  color: white;
  cursor: pointer;
}

.products-ul a {
  text-decoration: none;
}


/* Product Details */
#productDetails {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.details-card {
  width: 30%;
  cursor: initial;
  width: 30%;
  flex-direction: column;
  padding: 15px 30px;

}

.details-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.del-btn-div {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.edit-btn {
  margin-right: 10px;
}

.d-none {
  display: none;
}

/* Add Product */
.product-form {
  width: 30%;
  margin: 40px auto;
  background-color: rgb(0, 128, 128);
  padding: 30px;
}

.product-form>div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
}

.inp-label {
  color: white;
}

.inp {
  box-sizing: border-box;
  width: 80%;
  padding: 3px 10px;
  border: none;
  border-radius: 3px;
  outline: 1px solid rgb(50, 50, 50);
}

.inp:focus {
  outline: 2px solid rgba(0, 0, 0, 0.8);
}

.add-btn {
  justify-content: flex-end !important;
  margin-bottom: 0 !important;
}

.btn {
  background-color: rgb(224, 255, 255);
  padding: 3px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}